.rowsContainer{
    width: 100vw;
    display: flex;
    align-items: center;
    row-gap: 3vh;
    flex-direction: column;
    background-image: url('../resources/silver.jpg');
}

.row{
    width: 60vw;
    height: 12vh;
    border: solid 2px;
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 1.5vw;
    background-color: white;
    margin-top: 5vh;
    font-family: seagram;
    font-size: 30px;
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
    box-shadow: rgba(255, 0, 0, 0.4) 5px 5px, rgba(255, 38, 0, 0.3) 10px 10px, rgba(255, 0, 0, 0.2) 15px 15px, rgba(255, 0, 0, 0.1) 20px 20px, rgba(255, 30, 0, 0.05) 25px 25px;
}

@font-face {
    font-family: seagram;
    src: url("../resources/Seagram\ tfb.ttf");
}

.unitName{
    text-decoration: underline;
    font-weight: 700;
    margin-right: 2vw;
}

.maxQuantity{
    position: absolute;
    margin-left: 20vw;
}

.counter{
    position: absolute;
    right: 3vw;
}